.keys {
	display: inline-flex;
	align-items: center;
	gap: 3px;
}

.key {
	display: inline-flex;
	position: relative;
	align-items: center;
	justify-content: center;
	padding: 2px 3px;
	border-radius: var(--radius-s);
	background-color: var(--bg-1);
	box-shadow:
		0 1px 3px 0 rgba(0, 0, 0, 0.18),
		0 0 0 1px color-mix(in srgb, var(--text-1) 10%, transparent);
	color: color-mix(in srgb, var(--text-1) 60%, transparent);
	font-size: clamp(10px, 80%, 14px);
	line-height: 1.2;
	font-family: inherit;
	white-space: nowrap;
}
