.pageWithPreview {
	flex-grow: 1;
}

[data-panel] {
	/* `operationModePreview` is relative to this. */
	position: relative;
}

.primaryPanel {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	padding: var(--panel-padding);
}

.previewPanel {
	padding: var(--panel-padding);
}

.panel {
	border-top: 2px solid transparent;
}

.focusedPanel {
	border-top-color: var(--color-black);
}

.previewDialogPopup {
	display: flex;
	position: fixed;
	flex-direction: column;
	inset: 0;
	overflow: hidden;
	background-color: var(--color-bg);
}

.previewDialogBody {
	flex: 1;
	padding: var(--panel-padding);
	overflow: auto;
}

.previewResizeHandle {
	width: 1px;
	background-color: var(--color-separator);
}
