.pageWithPreview {
	flex-grow: 1;
}

[data-panel] {
	/* `operationModePreview` is relative to this. */
	position: relative;
}

.primaryPanel {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	padding: var(--panel-padding);
}

.previewPanel {
	padding: var(--panel-padding);
}

.previewDialogPopup {
	display: flex;
	position: fixed;
	flex-direction: column;
	inset: 0;
	overflow: hidden;
	background-color: var(--color-bg);
}

.previewDialogBody {
	flex: 1;
	padding: var(--panel-padding);
	overflow: auto;
}

.previewResizeHandle {
	width: 1px;
	background-color: var(--color-separator);
}

.dragPreview {
	padding: 8px;
	border: 1px solid light-dark(rgb(0 0 0 / 0.2), rgb(255 255 255 / 0.16));
	border-radius: 8px;
	background-color: var(--color-bg);
	box-shadow: 0 12px 16px -8px light-dark(rgb(0 0 0 / 0.08), rgb(0 0 0 / 0.4));
}
