.iconWithCheckbox {
	display: grid;

	& > * {
		grid-area: 1 / 1;
	}
}

.checkbox {
	--checkbox-height: 14px;
	justify-self: center;
	margin-block-start: calc((var(--single-line-row-height) - var(--checkbox-height)) / 2);
	opacity: 0;

	:global([data-has-checked-commits]) &,
	.row:hover &,
	&:focus {
		opacity: 1;
	}

	:global([role="tree"]:not([data-has-checked-commits])) &[data-disabled] {
		display: none;
	}
}
