.dragPreview {
	max-width: 400px;
	padding: 8px;
	overflow: hidden;
	border: 1px solid var(--border-2);
	border-radius: 8px;
	background-color: var(--bg-1);
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* This might be applied to an element that already has its own background, so
we must use an overlay for the background. */
.activeSource {
	position: relative;

	&:after {
		position: absolute;
		inset: 0;
		border-radius: 8px;
		background-color: var(--bg-1);
		content: "";
		opacity: 0.6;
		pointer-events: none;
	}
}
